<div ng-if="full_page" id="wrapper">
    <!-- Navigation -->
    <header></header>
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
        <div id="page-wrapper" style="min-height: 600px;">
            <div ui-view></div>
        </div>
    <!-- /#page-wrapper -->
</div>
<div ng-if="!full_page" ui-view></div>