<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">&nbsp;&nbsp;&nbsp;&nbsp;YTicket</a>
    </div>
    <!-- /.navbar-header -->
    <header-menu></header-menu>
    <sidebar></sidebar>
</nav>