<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{title_page}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Mostrando temas de ayuda
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Temas de Ayuda</th>
                                <th>Estado</th>
                                <th>Tipo</th>
                                <th>Prioridad</th>
                                <th>Departamento</th>
                                <th>&Uacute;ltima Actualizaci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" ng-repeat="oTA in temasAyuda">
                                <td> {{oTA.tema_ayuda}} </td>
                                <td> {{oTA.estado}} </td>
                                <td> {{oTA.tipo}} </td>
                                <td> {{oTA.prioridad}} </td>
                                <td> {{oTA.Departamento}} </td>
                                <td> {{oTA.ultima_actualizacion}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>