<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Acceso</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Configuracion de control de acceso
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Nombre :</label>
                            <input class="form-control" ng-model="profile.confirmar_contrasena" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6" >
                        <div style="text-align:right">
                            <button type="button" class="btn btn-success" ng-click="GuardarCambios()">Guardar Cambios</button>
                            <button type="button" class="btn btn-primary" ng-click="Restablecer()">Restablecer</button>
                            <button type="button" class="btn btn-warning" ng-click="Cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>