<style>
    select {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Registrar Agente</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nuevo Agente
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input class="form-control" ng-model="agente.name" type="text">
                        </div>
                        <div class="form-group">
                            <label>Direccion de Email:</label>
                            <input class="form-control" ng-model="agente.email" type="text">
                        </div>
                        <div class="form-group">
                            <label>Contrase&ntilde;a:</label>
                            <input class="form-control" ng-model="pass" type="text">
                        </div>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Departamento:</label>
                            <select class="form-control" ng-model="department_agent" ng-options="item.name for item in department">
                                <option value ng-disabled="true">  Seleccione un departamento  </option>
                            </select>
                        </div>
                        <div class="form-group">
                            &nbsp;<br>&nbsp;<br>&nbsp;
                        </div>
                        <div class="form-group">
                            <label>Confirmar Contrase&ntilde;a:</label>
                            <input class="form-control" ng-model="pass_confirm" type="text">
                        </div>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <alert ng-if="alert!=null" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div style="text-align:right">
                            <button type="button" class="btn btn-success" ng-click="RegistrarAgente()">Guardar Cambios</button>
                            <button type="button" class="btn btn-warning" ng-click="Cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>