<style>
    select {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Registrar Departamento</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nuevo Departamento
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Nombre de Departamento:</label>
                            <input class="form-control" ng-model="name_dep" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <alert ng-if="alert!=null" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6" >
                        <div style="text-align:right">
                            <button type="button" class="btn btn-success" ng-click="RegistrarDepartamento()">Guardar Cambios</button>
                            <button type="button" class="btn btn-primary" ng-click="Restablecer()">Restablecer</button>
                            <button type="button" class="btn btn-warning" ng-click="Cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>