<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tema de Ayuda</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Informaci&oacute;n sobre el tema de ayuda
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3" >
                        <div class="form-group">
                            <label>Nombre:</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="form-control" ng-model="profile.nombres_apellidos">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3" >               
                        <div class="form-group">
                            <label>Departamento:</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="form-control" ng-model="profile.email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10" >
                        <div style="text-align:right">
                            <button type="button" class="btn btn-success" ng-click="GuardarCambios()">Guardar Cambios</button>
                            <button type="button" class="btn btn-primary" ng-click="Restablecer()">Restablecer</button>
                            <button type="button" class="btn btn-warning" ng-click="Cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>