<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul ng-if="rol_id==1" class="nav in" id="side-menu">
            <sidebar-title></sidebar-title>            
            <li ng-class="{active: collapseVar==1}">{{dropDown}}
                <a href="" ng-click="check(1)"><i class="fa fa-user-md fa-fw"></i> Agentes<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active"> <a ui-sref="yticket.agente_ver">Ver Agentes</a> </li>
                    <li ui-sref-active="active"> <a ui-sref="yticket.agente_nuevo">Nuevo Agente</a> </li>
                    <li ui-sref-active="active"> <a ui-sref="yticket.dpto_ver">Ver Departamentos</a> </li>
                    <li ui-sref-active="active"> <a ui-sref="yticket.dpto_nuevo">Nuevo Departamento</a> </li>
                </ul>
            </li>
            <li ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)"><i class="fa fa-cogs fa-fw"></i> Configuraci&oacute;n<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li ui-sref-active="active"> <a ui-sref="yticket.config_accesos">Accesos</a> </li>
                    <li ui-sref-active="active"> <a ui-sref="yticket.config_alert_notif">Alertas y Notificaciones</a> </li>
                    <li ui-sref-active="active"> <a ui-sref="yticket.config_empresa">Empresa</a> </li>
                    <li ui-sref-active="active"> <a ui-sref="yticket.config_sistema">Sistema</a> </li>
                    <li ui-sref-active="active"> <a ui-sref="yticket.config_tickets">Tickets</a> </li>
                </ul>
            </li>
            <li ng-class="{active:collapseVar==3}">
                <a href="" ng-click="check(3)"><i class="fa fa-paste fa-fw"></i> Temas de Ayuda<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=3">
                    <li ui-sref-active="active"> <a ui-sref="yticket.tema_ayuda_ver">Ver Temas de Ayuda</a> </li>
                    <li ui-sref-active="active"> <a ui-sref="yticket.tema_ayuda_registro">Nuevo Tema de Ayuda</a> </li>
                </ul>
            </li>
        </ul>
        
        
        
        <ul ng-if="rol_id!=1" class="nav in" id="side-menu">
            <sidebar-title></sidebar-title>
            <li ng-class="{active: collapseVar==1}">{{dropDown}}
                <a href="" ng-click="check(1)"><i class="fa fa-sitemap fa-fw"></i> Tickets <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active" ng-show="rol_id==3">
                        <a ui-sref="usuario.inicio" ng-hide="{{showDetalleTicket}}"><i class="fa fa-table fa-fw"></i> Ver Tickets</a>
                        <a ui-sref="usuario.detalle" ng-show="{{showDetalleTicket}}"><i class="fa fa-table fa-fw"></i> Ver Tickets</a>
                    </li>
                    <li ui-sref-active="active" ng-show="rol_id==2">
                        <a ui-sref="agente.inicio" ng-hide="{{showDetalleTicket}}"><i class="fa fa-table fa-fw"></i> Ver Tickets</a>
                        <a ui-sref="agente.detalle" ng-show="{{showDetalleTicket}}"><i class="fa fa-table fa-fw"></i> Ver Tickets</a>
                    </li>
                    <li ng-show="rol_id==3" ui-sref-active="active">
                        <a ui-sref="usuario.registro"><i class="fa fa-edit fa-fw"></i> Nuevo Ticket</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: collapseVar==2}" ng-show="rol_id==2">{{dropDown}}
                <a href="" ng-click="check(2)"><i class="fa fa-fax fa-fw"></i> Reportes <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li ui-sref-active="active">
                        <a ui-sref="agente.reporte_actividad"><i class="fa fa-picture-o fa-fw"></i> Actividad de Tickets</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="agente.reporte_prediccion"><i class="fa fa-bar-chart-o fa-fw"></i> Predicci&oacute;n de Temas</a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active" >
                <a ui-sref="usuario.perfil" ng-show="rol_id==3" ng-click="check(3)"><i class="fa fa-user fa-fw"></i> Perfil</a>
                <a ui-sref="agente.perfil"  ng-show="rol_id==2" ng-click="check(3)"><i class="fa fa-user fa-fw"></i> Perfil</a>
            </li>
        </ul>
    </div>
</div>