<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{title_page}} <span style="color:#23527c">#{{code_ticket}}</span> </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Asunto: <strong> {{asunto}} </strong>
                <span style="position:absolute;right:25px" ng-show="rol_id==2">Estado: <strong>Abierto{{estado}}</strong> </span>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">
                    <li ng-repeat="cTicket in list_dialog_ticket" ng-class="{'timeline-inverted' : $index%2==1}">
                        <div class="timeline-badge warning"><i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel" style="padding:0px">
                            <div class="timeline-heading" style="background-color:#007E82;color:#FFF;padding:10px">
                                <span style="font-size:12px"> {{cTicket.user.name}} </span>
                                <small style="right: 15px;position:absolute"> {{cTicket.created_at | date:format}} </small>
                            </div>
                            <div class="timeline-body" style="padding:10px">
                                <p>{{cTicket.subject}}.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
             <div style="padding:10px">
                    <label style="padding:8px">Agregar nuevo comentario:</label>
                    <textarea class="form-control" rows="3" ng-model="new_comment"></textarea>
             </div>
             <div style="text-align:right;padding:10px">
                <button type="button" class="btn btn-default" ng-show="rol_id==2" ng-click="">Cambiar Estado</button>
                <label class="btn btn-default" style="cursor:default" ng-show="rol_id==2" ng-click="">Abierto(Actual)</label>
                <button type="button" class="btn btn-primary" ng-click="addComment()">Agregar</button>
                <button type="button" class="btn btn-warning" ng-click="clearComment()">Cancelar</button>
             </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->