<style>
    select {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Abrir Nuevo Ticket de Evento</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Detalle del Ticket
                <strong ng-show="vista_previa" style="position:absolute;right:25px;color:#2980b9">Vista Previa</strong>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Tema de Evento:</label>
                            <div><span  ng-show="vista_previa"> {{tipoEventoOption.name}} </span></div>
                            <select ng-hide="vista_previa" class="form-control" ng-model="tipoEventoOption" ng-options="item.name for item in tipo_evento">
                                <option value="" ng-disabled="true">  Seleccione un tema de evento  </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Ingeniero de Turno:</label>
                            <div><span  ng-show="vista_previa"> {{ingenieroCargoOption.name}} </span></div>
                            <select ng-hide="vista_previa" class="form-control" ng-model="ingenieroCargoOption" ng-options="item.name for item in ingeniero">
                                <option value ng-disabled="true">  Seleccione un ingeniero  </option>
                            </select>
                        </div>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Turno:</label>
                            <div><span  ng-show="vista_previa"> {{turnoOption.name}} </span></div>
                            <select ng-hide="vista_previa" class="form-control" ng-model="turnoOption" ng-options="item.name for item in turno">
                                <option value ng-disabled="true">  Seleccione un turno  </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Tipo de Red:</label>
                            <div><span  ng-show="vista_previa"> {{tipoRedOption.name}} </span></div>
                            <select ng-hide="vista_previa" class="form-control" ng-model="tipoRedOption" ng-options="item.name for item in tipo_red">
                                <option value ng-disabled="true">  Seleccione un tipo de red  </option>
                            </select>
                        </div>                        
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
                <div class="row">
                    <div class="col-lg-3" >               
                        <div class="form-group">
                            <label>¿Servicios Afectados?</label>
                            <br>
                            <div><span  ng-show="vista_previa"> {{serv_aff==1?'Si':'No'}} </span></div>
                            <div ng-hide="vista_previa">
                                <label class="radio-inline">
                                    <input type="radio" id="optionsRadiosInline1" value="1" ng-model="serv_aff">Si
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" id="optionsRadiosInline2" value="0" ng-model="serv_aff">No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3" ng-if="serv_aff==1">
                        <div class="form-group">
                            <label>Inicio:</label>
                            <div><span  ng-show="vista_previa"> {{dtInicio | date:format}} </span></div>
                            <p ng-hide="vista_previa" class="input-group">
                              <input id="dtInicio" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtInicio" is-open="openedStart" 
                                     datepicker-options="dateOptions" max-date="maxDateI" show-weeks="false"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openI($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>                            
                        </div>
                    </div>
                    <div class="col-lg-3" ng-if="serv_aff==1">
                        <div class="form-group">
                            <label>Fin:</label>
                            <div><span  ng-show="vista_previa"> {{dtFin | date:format}} </span></div>
                            <p ng-hide="vista_previa" class="input-group">
                              <input id="dtFin" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtFin" is-open="openedEnd"
                                     datepicker-options="dateOptions" min-date="minDateF" show-weeks="false"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openF($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div  class="form-group">
                            <label>Hora de llamada:</label>
                            <div><span  ng-show="vista_previa"> {{hora_llamada | date:'HH:mm a'}} </span></div>
                            <p ng-hide="vista_previa" class="input-group">
                              <timepicker ng-model="hora_llamada" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                            </p>
                        </div>
                    </div>
                    
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Asunto:</label>
                            <div><span  ng-show="vista_previa"> {{asunto}} </span></div>
                            <input ng-hide="vista_previa" class="form-control" ng-model="asunto">
                        </div>
                        <div class="form-group">
                            <label>Detalles:</label>
                            <div><span ng-show="vista_previa"> {{detalle}} </span></div>
                            <textarea  ng-hide="vista_previa" class="form-control" rows="3" ng-model="detalle"></textarea>
                        </div>
                        <div class="form-group">
                            <alert ng-if="alert!=null" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
                        </div>
                        <div style="text-align:right">
                            <button ng-hide="vista_previa" type="button" class="btn btn-default" ng-click="vistaPrevia()">Vista Previa</button>
                            <button type="button" class="btn btn-default" ng-click="crearTicket(dtInicio)">Crear Ticket</button>
                            <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>