<style>
    select {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> {{title_page}} </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Detalle del Perfil
            </div>
            <div class="panel-body">
                <!-- /.row (nested) -->
                <div class="row"><div class="col-lg-12" style="font-size:23px">Datos de contacto</div></div>
                <div class="row">
                    <div class="col-lg-3" >
                        <div class="form-group">
                            <label>Nombres y Apellidos:</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="form-control" ng-model="user.name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3" >               
                        <div class="form-group">
                            <label>Correo Electr&oacute;nico:</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="form-control" ng-model="user.email">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row"><div class="col-lg-12" style="font-size:23px">Contrase&ntilde;a</div></div>
                <div class="row">
                    <div class="col-lg-3" >
                        <div class="form-group">
                            <label>Nueva Contrase&ntilde;a:</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="form-control" ng-model="user.password" type="password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3" >
                        <div class="form-group">
                            <label>Confirmar Contrase&ntilde;a:</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="form-control" ng-model="user.password_confirmation" type="password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" >
                        <div class="form-group">
                            <label> {{mensajedelcielo}} </label><br>
                        </div>
                    </div>
                    <div class="col-lg-12" >
                        <div style="text-align:right">
                            <button type="button" class="btn btn-primary" ng-click="ActualizarDatos()">Actualizar</button>
                            <button type="button" class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>