<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>YTicket</strong></h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>                            
                            <div class="form-group">
                                <label>Email:</label>
                                <input class="form-control" ng-model="email" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <label>Contrase&ntilde;a:</label>
                                <input class="form-control" ng-model="pass" type="password" value="">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" ng-model="rememberme">Recordarme
                                </label>
                            </div>
                            <div class="form-group" ng-hide="msg_error==''">
                                <label style="color:#A12">{{msg_error}}</label>
                            </div>
                            <button type="button" class="btn btn-lg btn-success btn-block" ng-click="sendLogin()">Ingresar</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>