<style>
    .inn_chart{
        margin-left:35px;
        margin-right:35px;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> {{title}} </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row" >
    <div class="col-lg-12" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Evoluci&oacute;n temporal de los tickets</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Reportar Calendario:</label>
                            <p class="input-group">
                              <input type="text" class="form-control" ng-model="reportar_calendario"/>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Periodo:</label>
                            <p class="input-group">
                              <select ng-hide="vista_previa" class="form-control" ng-model="periodoOption" ng-options="item.name for item in periodos">
                              </select>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4" style="padding-top:15px">
                        <div class="form-group">
                            <button type="button" class="btn btn-default" ng-click="actualizar()">Actualizar</button>
                            <button type="button" class="btn btn-default" ng-click="exportar()">Exportar</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" value="0" ng-model="opciones">Estado </label>
                                <label class="radio-inline">
                                    <input type="radio" value="1" ng-model="opciones">Tipos de evento </label>
                                <label class="radio-inline">
                                    <input type="radio" value="2" ng-model="opciones">Turno </label>
                                <label class="radio-inline">
                                    <input type="radio" value="3" ng-model="opciones">Red </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Ingeniero de turno:</label>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <p class="input-group">
                              <input type="text" class="form-control" ng-model="ingeniero_turno"/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-heading inn_chart">&nbsp;</div>
            <div class="panel-body inn_chart">
                <canvas id="line" class="chart chart-line chart-xl" data="line.data" labels="line.labels" legend="true"
                series="line.series"></canvas>
            </div>
        </div>
     </div>
 </div>