<style>
    .inn_chart{
        margin-left:35px;
        margin-right:35px;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> {{title}} </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row" >
    <div class="col-lg-12" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Prediccion mensual <strong>2015</strong></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Reportar Calendario:</label>
                            <p class="input-group">
                              <input type="text" class="form-control" ng-model="reportar_calendario"/>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Periodo:</label>
                            <p class="input-group">
                              <select ng-hide="vista_previa" class="form-control" ng-model="periodoOption" ng-options="item.name for item in periodos">
                              </select>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4" style="padding-top:15px">
                        <div class="form-group">
                            <button type="button" class="btn btn-default" ng-click="actualizar()">Actualizar</button>
                            <button type="button" class="btn btn-default" ng-click="exportar()">Exportar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-heading inn_chart">&nbsp;</div>
            <div class="panel-body inn_chart">
                <canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series"
                options="bar.options"></canvas>
            </div>
        </div>
     </div>
 </div>