<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{title_page}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Lista de Tickets
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Ticket</th>
                                <th>Creado</th>
                                <th>Estado</th>
                                <th>Asunto</th>
                                <th>Departamento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" ng-repeat="oTicket in tickets">
                                <td> <a class="btn btn-block btn-social btn-bitbucket" ng-click="verDetalle(oTicket.code)">
                                    <i class="fa fa-flickr"></i> {{oTicket.code}} </a> </td>
                                <td> {{oTicket.created_at}} </td>
                                <td> {{oTicket.ticket_state.name}} </td>
                                <td class="center"> {{oTicket.subject}} </td>
                                <td class="center"> {{oTicket.topic.name}} </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center;">
                        <pagination direction-links="false" total-items="totalItems" ng-model="currentPage" num-pages="smallnumPages" ng-change="pageChanged()"></pagination>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->